{{ "<!-- News Section -->" | safeHTML }}
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Latest News</h2>
                <h3 class="section-subheading text-muted">{{ .Now.Year }}</h3>
            </div>
        </div>
        <div class="row text-center">

          <div class="col-md-6 text-left">
            <h2 class="section-subheading">DSC Fundraising Now 2019 Conference</h2>
            <h3 class="section-subheading text-muted">29 November 2018</h3>
            <h4 class="section-subheading text-muted"><a href="https://www.dsc.org.uk/events/">Innovation and service delivery : Workshop</a></h4>
            <p class="text-muted ">
              While large charities incomes continue to increase what can small charities do to continue to survive. Exploring what smaller charities can learn from larger organisations:
            </p>
            <ul class="text-muted">
              <li>Examples and case studies of charities that have done this well</li>
              <li>Learning from innovators</li>
              <li>How to translate your ideas into reality.</li>
            </ul>

            <h4 class="section-subheading text-muted"><a href="https://www.dsc.org.uk/events/">Effectiveness – simple ways to make your data work better for you : Masterclass</a></h4>
            <p class="text-muted">While large charities incomes continue to increase what can small charities do to continue to survive. Exploring what smaller charities can learn from larger organisations:
            </p>
            <ul class="text-muted">
              <li>Examples and case studies of charities that have done this well</li>
              <li>Learning from innovators</li>
              <li>How to translate your ideas into reality.</li>
            </ul>
          </div>

          <div class="col-md-6">
            <h2 class="section-subheading">Latest Tweets</h2>
            <a class="twitter-timeline" data-width="400" data-height="500" data-link-color="#FAB81E" href="https://twitter.com/iboxforgood?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>

          <div class="col-md-12">
            <h2 class="section-subheading">London Digital Leaders Lab</h2>
            <h3 class="section-subheading text-muted">03 September 2018</h3>
            <a href="media/nsun_flyer.pdf"><img src="media/nsun_logo.jpg"></img></a>
            <p class="text-muted">We are excited to be working with NSUN (National Survivors User Network) to deliver our London Digital Leaders Lab.</p>
            <p class="text-muted">For more details please see the <a href="media/nsun_flyer.pdf">flyer</a>.</p>
          </div>

        </div>
    </div>
</section>
